
@font-face {
    font-family: kanit;
    src: url(font/Oswald-VariableFont_wght.ttf);
} 

body {
    margin: 0;
    padding: 0;
    background-color: #F1F8E9; /* Light minty green background */
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Kanit', sans-serif;
    color: #333;
}

header {
    width: 100vw;
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 0vh 1.5vw;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-family: kanit;
    font-size: x-large;
}

nav a:hover {
    color: #FFA836;
    transition: all 0.4s ease 0s;
}

#login:hover {
    background-color: #FFA836;
    transition: all 0.4s ease 0s;
}

header img {
    margin-left: 5%;
}

#login {
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.2);
    border: #FFA836 solid 2px;
    border-radius: 50px;
    padding: 8px 30px;
    margin-right: 3%;
    font-family: kanit;
}


.cover {
    background-image: url("img/FoodBackgroundNomeat-1024x675.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;

}

.opacity {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    height: 100vh;
    padding-left: 5%;
}

.opacity p {
    text-transform: uppercase;
    font-size: 2em;
    color: #fff;

}

h1 {
    text-transform: uppercase;
    font-size: 5em;
    font-family: kanit;
    margin: 0;
    padding-top: 13%;
}

#moto {
    font-family: kanit-thin;
}
h2 {
    font-family: kanit;
    border-bottom: #FFA836 solid 5px;
}

p {
    font-family: body;
    font-size: larger;
    font-weight: bold;
    color: #3333339b;
    line-height: 2.0;
}

.text2 h2 {
    border: none;
}

h2 {
    font-size: 3em;
    text-transform: uppercase;
}

.about{
    padding-left: 5%;
    padding-right: 5%;
}





